<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Word Madness!{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "WordMadness/css/style.css" %}" 
        type="text/css">
    {% block javascript %}
    <script src="{% static "WordMadness/js/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "WordMadness/js/remove_words.js" %}"></script>
    {% endblock javascript %}
</head>

<body>
    <div id="Menu">
        {% block menu %}
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
        {% endblock menu %}
    </div>

    <div id="Title">
        {% block in_doc_title %}
        <h1> Word Madness! </h1>
        {% endblock %}
    </div>

    <div id="Contents">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
