{% extends "WordMadness/base.html" %}

{% block title %}Word Madness! - Remove Words{% endblock %}

{% block in_doc_title %}
{{ block.super }}
    {% for t in title %}
        <h2> {{ t }} </h2>
    {% endfor %}
{% endblock %}

{% block content %}
    <p>Click on the words you want to remove, and fill out the form below the story.</p>
    <form action="{% url 'create' %}" method="post">{% csrf_token %}
        <p id="story">{% for b in body %}
                {{ b }}
        {% endfor %}</p>
        <table id="Words">
            <tr>
                <td></td>
                <td>Original Word</td>
                <td>Part of Speech</td>
            </tr>
        </table>
        <p>Click the button when you are done.</p>
        <input type="hidden" id="story_body" name="story_body" value="">
        <input type="hidden" name="id" value="{{ id }}">
        <input type="submit" value="I'm Done">
    </form>

    <div id="hidden_data">{% for s in parts_of_speech %} ;{{ s }} {% endfor %}</div>

{% endblock content %}
