<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheeet" href="{% static "Word_Madness/css/style.css" %}" />
    <title>{% block title %}Word Madness!{% endblock %}</title>
</head>

<body>
    <div id="Menu">
        {% block menu %}
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        {% endblock menu %}
    </div>

    <div id="Title">
        {% block in_doc_title %}
        <h1> Word Madness! </h1>
        {% endblock %}
    </div>

    <div id="Contents">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
