/* body */

/* #Menu */

/* #Contents */

/* textarea */
textarea{
    resize: none;
    overflow: auto;
}

/* Story that was input */

.body{
    /* background-color: #eee; */
    background-color: grey;
}
