/* body */

/* #Menu */

@media (min-width: 575px) {
    #Contents{
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* textarea */
textarea{
    resize: none;
    overflow: auto;
}

/* Story that was input */

#story{
    background-color: LightGray;
    line-height: 150%;
}

.blank_word{
    background-color: Yellow;
}

#hidden_data{
    display: none;
}
